<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8" />
  <title>@ViewData["Title"] - Giriş</title>
  <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/lib/tailwindcss/tailwind.min.css" />
  <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
  <link rel="stylesheet" href="~/css/new.css" />

  <style>




  </style>
</head>

<body>
  <div class="page-wrapper">
    @RenderBody()
  </div>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
