@{
    Layout = "_Layout";
}

<div style="width: 100px; height: 400px; background-color: #007bff; display: flex; justify-content: center; align-items: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

</div>