@media (max-width: 1600px) {
    .info-cards {
        flex-direction: column !important;
        width: 100%;
    }

    .ticket-form {
        max-width: 100% !important;
    }

    .ticket-table {
        min-width: unset !important;
        width: 100%;
    }
}